.menu {
    background-color: gray; 
}
button {
    background-color: gray;
    border:0px;
    color: bisque;
    font-size: 42px;
    margin-right: 72px;
}
a {
    color: cornflowerblue;
}
.dumbbells {
    width: 60px;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 150px;
    padding-left: 7px;
    padding-right: 300px;
}
.barbells {
    width: 60px;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 150px;
    padding-left: 7px;
    padding-right: 300px;
    margin-top: -185px;
    margin-left: 400px;
}
.devices {
    width: 60px;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 131px;
    padding-left: 7px;
    padding-right: 300px;
    margin-top: -185px;
    margin-left: 800px;
}
.equipment {
    width: 60px;
    border: 1px solid black;
    border-radius: 10px;
    padding-top: 150px;
    padding-left: 3px;
    padding-right: 300px;
}