.menu {
    background-color: gray; 
 }
 .list1 {
     color: rgb(108, 106, 106);
 }
 button {
     background-color: gray;
     border:0px;
     color: bisque;
     font-size: 42px;
     margin-right: 72px;
 }
 h1  {
     color: rgb(84, 80, 80);
 }
p {
    color: rgb (84, 80, 80);
}
a {
    color: cornflowerblue;
   }
 .list2 {
     color: rgb(108, 106, 106);
 }
 .table {
     border-color: lightsteelblue;
     color: rgb(84, 80, 80);
     border-radius: 10px;
 }