button {
    background-color: gray;
    border:0px;
    color: bisque;
    font-size: 42px;
    margin-right: 72px;
}
.menu {
    background-color: gray;
}
a {
    color: cornflowerblue;
}
.mainBlock {
    margin-top: 10px;
    border: 60%;
    border: 1px solid black;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 10px;
}
.button{
 width: 20%;
 margin-left: 80%;
 color: white;
 background-color: green;
 font-size: 35px;
 border: 1px solid black;
 border-radius: 10px;
}
